<!DOCTYPE html>
<html lang="pt-BR">
    
<head>
    
{% block head %}

    <title>Particular Class</title>
    <link rel=" shortcut icon" href="assets/favicon.ico" type="image/x-icon"/>

{% endblock %}

    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <div class="links">
            <a href="/" class="active">Professores</a>
            <a href="/Students">Alunos</a>
        </div>
    </header>

    {%block content %} {% endblock %}

</body>
</html>