<div class="item">
    <div>URL Imagem</div>
    <div>
        <input type="url" name="avatar_url" placeholder="http://" value="{{student.avatar_url}}">
    </div>
</div>

<div class="item">
    <div>Nome Completo</div>
    <div>
        <input type="text" name="name" value="{{student.name}}">
    </div>
</div>

<div class="item">
    <div>E-mail</div>
    <div>
        <input type="email" name="email" placeholder="xxx@yyy.com.br" value="{{student.email}}">
    </div>
</div>

<div class="item">
    <div>Data de Nascimento</div>
    <div>
        <input type="date" name="birth" value="{{student.birth}}">
    </div>
</div>

<div class="item">
    <div>Ano Escolar</div>
    <div>
        <select name="schoolyear">
            <option value="5° ano do ensino fundamental"{% if student.schoolyear == "5° ano do ensino fundamental" %} selected="selected" {%endif%}>
                5° ano do ensino fundamental
            </option>
            <option value="6° ano do ensino fundamental"{% if student.schoolyear == "6° ano do ensino fundamental" %} selected="selected" {%endif%}>
                6° ano do ensino fundamental
            </option>
            <option value="7° ano do ensino fundamental"{% if student.schoolyear == "7° ano do ensino fundamental" %} selected="selected" {%endif%}>
                7° ano do ensino fundamental
            </option>
            <option value="8° ano do ensino fundamental"{% if student.schoolyear == "8° ano do ensino fundamental" %} selected="selected" {%endif%}>
                8° ano do ensino fundamental
            </option>
            <option value="9° ano do ensino fundamental"{% if student.schoolyear == "9° ano do ensino fundamental" %} selected="selected" {%endif%}>
                9° ano do ensino fundamental
            </option>
            <option value="1° ano do ensino médio"{% if student.schoolyear == "1° ano do ensino médio" %} selected="selected" {%endif%}>
                1° ano do ensino médio
            </option>
            <option value="2° ano do ensino médio"{% if student.schoolyear == "2° ano do ensino médio" %} selected="selected" {%endif%}>
                2° ano do ensino médio
            </option>
            <option value="3° ano do ensino médio"{% if student.schoolyear == "3° ano do ensino médio" %} selected="selected" {%endif%}>
                3° ano do ensino médio
            </option>
        </select>
    </div>
</div>

<div class="item">
    <div>Carga horária semanal</div>
    <div>
        <input 
            type="number" 
            name="time"
            value="{{student.time}}"
        >
    </div>
</div>



{# <div class="item">
    <div class="field">
        <div>Estado</div>
        <select name="uf" required="required">
            <option value="" selected="selected">Selecione o Estado</option>
        </select>

        <input type="hidden" name="state" value="{{student.state}}" >
    </div>
</div> #}

<div class="buttons">
    <button id="save" type="submit">Salvar</button>
</div>

