<div class="item">
    <div>URL Imagem</div>
    <div>
        <input 
            type="url"
            name="avatar_url"
            placeholder="http://"
            value="{{teacher.avatar_url}}"
        >
    </div>
</div>

<div class="item">
    <div>Nome Completo</div>
    <div>
        <input 
            type="text" 
            name="name" 
            placeholder="Nome Completo"
            value="{{teacher.name}}"
        >
    </div>
</div>

<div class="item">
    <div>Data de Nascimento</div>
    <div>
        <input 
            type="date" 
            name="birth"
            value="{{teacher.birth}}"
        >
    </div>
</div>

<div class="item">
    <div>Grau de Escolaridade</div>
    <div>
        <select name="schooling">
            <option 
                value="Medio"
                {% if teacher.schooling == "Medio"%}
                selected {% endif %} 
                >Ensino Médio Completo
            </option>
            <option 
                value="Superior" 
                {% if teacher.schooling == "Superior"%} 
                selected {% endif %} 
                >Ensino Superior Completo
            </option>
            <option 
                value="Mestrado" 
                {% if teacher.schooling == "Mestrado"%} 
                selected {% endif %} 
                >Mestrado
            </option>
            <option 
                value="Doutorado" 
                {% if teacher.schooling == "Doutorado"%} 
                selected {% endif %}
                >Doutorado
            </option>
        </select>
    </div>
</div>

<div class="item">
    <div>Tipo de Aula</div>
    <div>
        <span>
            <input 
                type="radio" 
                name="class_type"
                value="P" 
                {% if teacher.class_type == "P"%}
                checked
                {% endif %} 
                >Presencial
        </span>
        <span>
            <input 
                type="radio" 
                name="class_type" 
                value="D"
                {% if teacher.class_type == "D"%}
                {% endif %}
                >Distância
        </span>
    </div>
</div>

<div class="item">
    <div>Área de atuação</div>
    <div>
        <input 
            type="text" 
            name="services" 
            placeholder="Digite a as aulas disponíveis separando por vírgula"
            value="{{teacher.services}}"
        >
    </div>
</div>

<button type="submit">Salvar</button>

