{% extends "layout.njk" %}

{% block content %}

<div class="card">   
        <div class="avatar"style="background: url({{teacher.avatar_url}}) no-repeat center center/ cover"></div>
        <div class="details"> 
        
        <section class="details">
        <h1>Detalhes</h1>

            <div class="item">
                <div>Professor</div>
                <div>{{teacher.name}}</div>
            </div>
            <div class="item">
                <div>Idade</div>
                <div>{{teacher.age}}</div>
            </div>
            <div class="item">
                <div>Grau de Escolaridade</div>
                <div>{{teacher.schooling}}</div>
            </div>
            <div class="item">
                <div>Tipo de Aula</div>
                <div>{{"Presencial" if teacher.class_type == "P" else "Distância"}}</div>
            </div>
            <div class="item">
                <div>Área de atuação</div>
                {% for service in teacher.services%}
                <span>{{service}}</span>
                {% endfor %}
            </div>
            <div class="item">
                <div>Data de Cadastro na plataforma</div>
                <div>{{teacher.created_at}}</div>
            </div>
            
            <a href="#" class="button">Editar</a>
        </section>    
    </div>

</div>
{% endblock content %}

